# =============== #
# Unity Generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/

# ===================================== #
# Visual Studio / MonoDevelop Generated #
# ===================================== #
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.svd
*.user
*.userprefs
*.pidb
*.booproj

# ============ #
# OS Generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db